<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Order Finished</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/wro.css}"
	href="../../static/css/wro.css" />
</head>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
<body>

	<div class="container">
		<h1 th:text="#{msg.completeOrder}">Complete Order</h1>

		<p>
			<i th:text="#{msg.thankyou}">Thank You</i>
		</p>
		<br />
		<table class="table table-striped table-hover">
			<tr>
				<th th:text="#{label.orderNo}">Order No</th>
				<td th:text="${order.orderId}">00001</td>
			</tr>
			<tr>
				<th th:text="#{label.orderDate}">Order Date</th>
				<td th:text="${order.orderDate}">2015-05-31</td>
			</tr>
		</table>

		<a th:href="@{/products}" href="../goods/showGoods.html"
			class="btn btn-default" th:text="#{msg.backToHome}">Home</a>
	</div>
</body>
</html>