<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Spring Framework Guru</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div th:fragment="content">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title">Create New Product</h1>
				</div>
				<!-- /.panel-header -->
				<div class="panel-body">
					<form role="form" th:object="${product}" th:action="@{/product}" method="post">
						<fieldset>
							<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"	th:class="text-red">Incorrect data</p>
							<input type="hidden" th:field="*{productId}" />
							
							<div class="form-group"	th:classappend="${#fields.hasErrors('productName')}? 'has-error'">
								<label class="col-sm-2 control-label">productName:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="productName" th:field="*{productName}" placeholder="Enter productName"/>
									<p th:if="${#fields.hasErrors('productName')}"
										th:errors="*{productName}" th:class="text-red">Incorrect data</p>
								</div>
							</div>
							
							<!-- text input -->
							<div class="form-group"	th:classappend="${#fields.hasErrors('description')}? 'has-error'">
								<label class="col-sm-2 control-label">Description:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="description" th:field="*{description}" placeholder="Enter Description"/>
									<p th:if="${#fields.hasErrors('description')}"
										th:errors="*{description}" th:class="text-red">Incorrect data</p>
								</div>
							</div>
							
							<br></br>
							
							<!-- text input -->
							<div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
								<label class="col-sm-2 control-label">Price:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" th:field="*{price}" placeholder="price" />
									<p th:if="${#fields.hasErrors('price')}"
										th:errors="*{price}" th:class="text-red">Incorrect data</p>
								</div>
							</div>
							
							<br></br>
							
							<div class="form-group">
								<label class="col-sm-2 control-label">Image Url:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" th:field="*{imageUrl}"  placeholder="Image URL"/>
									<p th:if="${#fields.hasErrors('imageUrl')}"
										th:errors="*{imageUrl}" th:class="text-red">Incorrect data</p>
								</div>
							</div>
							
							<br></br>

							<div class="form-group">
								<label>Categories</label>
								<div>
									<p th:if="${not #lists.isEmpty(categoryList)}"
										th:each="category,rowStat : ${categoryList}">
										<input type="checkbox"
											th:field="*{category[__${rowStat.index}__].categoryId}"
											th:value="${category.id}" /> 
											<label th:text="${category.categoryName}">Category</label>
									</p>
								</div>
							</div>

						</fieldset>
						<div class="row wrapper">
							<div class="panel-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
						<div class="clear"></div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>