<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title th:text="#{roles.page.title}">Roles</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<div th:fragment="content">
			<div class="row wrapper">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-title" th:text="#{roles.list}">List of Roles</h1>
						</div>
						<!-- /.panel-header -->
						<div class="row"></div>
						<div class="panel-body table-responsive no-padding">
							<div class="row wrapper"
								th:class="${CURRENT_MENU == 'New Role'}? 'active' : ''"
								sec:authorize="hasRole('ROLE_ADMIN')">
								<a href="#" class="btn btn-block btn-success btn-lg"
									type="button" th:href="@{/roles/new}">Create New Role</a>
							</div>
							<div class="row"></div>
							<table class="table table-striped table-bordered table-hover">
								<tr>
									<th style="width: 10px">#</th>
									<th>Name</th>
									<th>Description</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
								<tr th:if="${not #lists.isEmpty(roles)}" th:each="role,iterStat : ${roles}">
									<td>
										<a th:href="@{/roles/{id}(id=${role.id})}">
											<span th:text="${iterStat.count}">1</span>
										</a>
									</td>
									<td th:text="${role.roleName}">Role Name</td>
									<td th:text="${role.description}">Role Description</td>
									<td>
										<a th:href="@{/roles/{id}(id=${role.id})}" class="btn btn-sm btn-default">
											 <i class="fa fa-edit"></i>Edit
										</a>
									</td>
									<td><a th:method="delete" th:href="@{/roles/delete/{id} (id=${role.id})}">Delete</a></td>
								</tr>
							</table>
						</div>
						<!-- /.panel-body -->
						<div class="row">
							<div class="col-xs-12">
								<div th:if="${success!=null}"
									class="alert alert-success alert-dismissable" role="alert">
									<p>
										<i class="icon fa fa-success"></i> <span th:text="${success}"></span>
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div th:if="${msg!=null}"
									class="alert alert-warning alert-dismissable" role="alert">
									<p>
										<i class="icon fa fa-warning"></i> <span th:text="${msg}"></span>
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div th:if="${error!=null}"
									class="alert alert-danger alert-dismissable" role="alert">
									<p>
										<i class="icon fa fa-danger"></i> <span th:text="${error}"></span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>

</html>