<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Users - New</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<div th:fragment="content">

			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Create New User</h3>
				</div>
				<!-- /.panel-header -->
				<div class="panel-body">
				<!-- <div class="box-body"> -->
					<form role="form" th:action="@{/users}" th:object="${user}"	method="post">
						<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
							th:class="text-red">Incorrect data</p>
							
						<!-- text input -->
						<div class="form-group"	th:classappend="${#fields.hasErrors('userName')}? 'has-error'">
							<label>User Name</label>
							<input type="text" class="form-control"	name="name" th:field="*{userName}" placeholder="Enter User Name" />
							<p th:if="${#fields.hasErrors('userName')}"	th:errors="*{userName}" th:class="text-red">Incorrect data</p>
						</div>

						<div class="form-group"	th:classappend="${#fields.hasErrors('password')}? 'has-error'">
							<label>Password</label>
							<input type="password" class="form-control" name="password" th:field="*{password}" placeholder="Enter password" />
							<p th:if="${#fields.hasErrors('password')}"	th:errors="*{password}" th:class="text-red">Incorrect data</p>
						</div>

						<!-- <div class="form-group"	th:classappend="${#fields.hasErrors('passwordRepeated')}? 'has-error'">
							<label>ReEnter Password</label>
							<input type="password" class="form-control" name="passwordRepeated"	th:field="*{passwordRepeated}" placeholder="ReEnter password" />
							<p th:if="${#fields.hasErrors('passwordRepeated')}"	th:errors="*{passwordRepeated}" th:class="text-red">Incorrect data</p>
						</div> -->
						
						<div class="form-group"	th:classappend="${#fields.hasErrors('email')}? 'has-error'">
							<label>Email</label>
							<input type="text" class="form-control"	name="email" th:field="*{email}" placeholder="Enter User Email" />
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="text-red">Incorrect data</p>
						</div>

						<div class="form-group">
							<label>Roles</label>
							<div>
								<p th:each="role,rowStat : ${rolesList}">
									<input type="checkbox" th:field="*{roleList[__${rowStat.index}__].id}" th:value="${role.id}" /> 
									<label th:text="${role.roleName}">Role</label>
								</p>
							</div>
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>

</body>

</html>