<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Users - Edit</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<div th:fragment="content">

			<div class="panel panel-primary">
				<div class="panel-heading with-border">
					<h3 class="panel-title">Edit User</h3>
				</div>
				<!-- /.panel-header -->
				<div class="panel-body">
					<form role="form" th:action="@{/users/{id}(id=${user.id})}"
						th:object="${user}" method="post">
						<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
							th:class="text-red">Incorrect data</p>
						<!-- text input -->
						<div class="form-group">
							<label>Name</label> <input type="text" class="form-control"
								name="name" th:field="*{userName}" readonly="readonly" />
						</div>

						<div class="form-group">
							<label>Email</label> <input type="text" class="form-control"
								name="email" th:field="*{email}" readonly="readonly" />
						</div>

						<div class="form-group">
							<label>Roles</label>
							<div>
								<p th:each="role,rowStat : ${rolesList}">
									<input type="checkbox"
										th:field="*{roleList[__${rowStat.index}__].id}"
										th:value="${role.id}" /> <label th:text="${role.roleName}">Role</label>
								</p>
							</div>

						</div>
						<div class="div">
							<div class="panel-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
						<div class="clear"></div>
					</form>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
	<!-- .container -->

</body>

</html>