<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Users</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<div th:fragment="content">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-title" style="font-size:18px ">List of Users</h1>
						</div>
						<!-- /.panel-header -->
						<div class="panel-body table-responsive no-padding">
							<div class="row">
									<a class="btn btn-default active" role="button" th:href="@{/users/new}"><i
										class="fa fa-plus-circle"></i> New User</a>
							</div>
							<table class="table table-striped">
								<tr>
									<th style="width: 10px">#</th>
									<th>Name</th>
									<th>Email</th>
									<th>Edit</th>
								</tr>
								<tr th:each="user,iterStat : ${users}">
									<td>
										<a th:href="@{/users/{id}(id=${user.id})}">
											<span th:text="${iterStat.count}">1</span>
										</a>
									</td>
									<td th:text="${user.userName}">Name</td>
									<td th:text="${user.email}">Email</td>
									<td>
										<a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-sm btn-default">
											<i class="fa fa-edit"></i>Edit
										</a>
									</td>
								</tr>

							</table>
						</div>
						<!-- /.panel-body -->
						<div class="row">
							<div class="col-xs-12">
								<div th:if="${msg!=null}"
									class="alert alert-warning alert-dismissable" role="alert">
									<p>
										<i class="icon fa fa-warning"></i> <span th:text="${msg}"></span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- /.panel -->
				</div>
			</div>

		</div>

	</div>

</body>

</html>