<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head lang="en">

<title>Access Denied</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<div th:fragment="header">
			<section class="content-header">
				<h3>
					<i class="fa fa-warning text-red"></i> You are not allowed to view
					this content.
				</h3>
			</section>
		</div>
		<div th:fragment="content">

			<div>
				<p>
					Error message: <span th:text="${errorMessage}">Unknown error</span>
				</p>
				<p>
					You may want to go <a th:href="@{/home}">Home</a>
				</p>

			</div>

		</div>
	</div>
</body>

</html>