<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />
	
<title th:text="#{label.pages.home.title}">home</title>

</head>
<body>
	<div class="container">
		<h1 class="alert alert-success" th:text="#{message.regSucc}">success</h1>
		<a th:href="@{/login.html}" th:text="#{label.login}">login</a>
	</div>
</body>
</html>